<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wetwebsite.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wetwebsite.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WETwebsite</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WETwebsite</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WETcontext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:j7wc84ys1h.database.windows.net,1433;AttachDbFilename=&quot;C:\Users\Calum\Documents\Visual Studio 2013\Projects\WETproject\WETwebApp\App_Data\WETweb.mdf&quot;;Initial Catalog=WETdb;User ID=calumhrmurray@j7wc84ys1h;Password=c0llosalP" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\WETapp.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WETcontext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\WETapp.mdf;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:j7wc84ys1h.database.windows.net,1433;Initial Catalog=WETwebsAQyeAET8w;User ID=calumhrmurray@j7wc84ys1h;Password=c0llosalP" Name="Data Source=tcp:j7wc84ys1h.database.windows.net,1433;Initial Catalog=WETwebsAQyeAET8w;User Id=calumhrmurray@j7wc84ys1h;Password=c0llosalP" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WETwebApp.Models.ApplicationDbContext, WETwebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WETweb" Order="4" Enabled="True">
          <Destination Path="Data Source=tcp:j7wc84ys1h.database.windows.net,1433;Initial Catalog=WETwebsAQyeAET8w;User ID=calumhrmurray@j7wc84ys1h;Password=c0llosalP" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WETwebApp.DAL.WETcontext, WETwebApp" MigrationConfiguration="WETwebApp.Migrations.Configuration, WETwebApp" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:j7wc84ys1h.database.windows.net,1433;Initial Catalog=WETwebsAQyeAET8w;User Id=calumhrmurray@j7wc84ys1h;Password=c0llosalP</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WETcontext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:j7wc84ys1h.database.windows.net,1433;AttachDbFilename="C:\Users\Calum\Documents\Visual Studio 2013\Projects\WETproject\WETwebApp\App_Data\WETweb.mdf";Initial Catalog=WETdb;User ID=calumhrmurray@j7wc84ys1h;Password=c0llosalP</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WETweb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:j7wc84ys1h.database.windows.net,1433;Initial Catalog=WETwebsAQyeAET8w;User ID=calumhrmurray@j7wc84ys1h;Password=c0llosalP</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="WETweb" />
  </ItemGroup>
</Project>